body {
  margin: 0;
  min-height: 100%;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  font-size: 22px;
  width: 1160px;
  min-height: 70px;
  margin: 0 auto;
  background-color: #ddadaf;
}

.header-navigation {
  width: 700px;
  height: 50px;
  padding-top: 10px;
  margin: 0 auto;
}

.navigation-list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navigation-link {
  display: inline-block;
  padding-top: 15px;
  height: 50px;
  color: #5f6d7b;
  text-decoration: none;
}

.navigation-link:hover {
  color: #b48e8f;
}

.main-page {
  width: 1160px;
  margin: 0 auto;
  padding-top: 50px;
}

.page-title {
  font-size: 42px;
  margin: 0;
  margin-bottom: 30px;
  margin-left: 30px;
}

.page-subtitle {
  color: #685354;
  font-size: 32px;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 45px;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
}

.left-column {
  position: relative;
  width: 200px;
  padding-top: 5px;
  border-left: 2px solid #f4e3e4;
}

.right-column {
  width: 960px;
  border-left: 2px solid #f4e3e4;
  border-right: 2px solid #f4e3e4;
  padding-bottom: 50px;
}

.goods-list {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  gap: 70px;
  list-style-type: none;
  margin: 0;
  padding-left: 45px;
  padding-right: 45px;
  box-sizing: border-box;
}

.good-item {
  display: grid;
  grid-template-rows: 250px auto;
  grid-template-columns: 280px min-content;
  gap: 20px 15px;
  padding-bottom: 20px;
  border: 1px solid #f4e3e4;
  background-color: #faf1f1;
}

.good-item:hover {
  background-color: #f4e3e4;
}

.good-pic {
  width: 398px;
  height: 250px;
  object-fit: cover;
  grid-column: 1 / -1;
}

.good-name {
  margin: 0;
  padding-left: 5px;
  font-size: 24px;
  grid-column: 1 / 2;
}

.price {
  grid-column: 2 / -1;
  text-align: right;
  padding-right: 5px;
}

.amount-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 5px;
}

.good-amount-field {
  width: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  padding-left: 10px;
  font-size: 16px;
}

.amount-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.amount-button:hover {
  background-color: #faf1f1;
}

.order-button {
  position: sticky;
  top: 50px;
  box-sizing: border-box;
  display: block;
  width: 180px;
  height: 80px;
  margin: 0 auto;
  background-color: #f78f6c;
  border: 3px solid #c5765c;
  border-radius: 20px;
  text-transform: uppercase;
  color: #8a3324;
  font-size: 24px;
  cursor: pointer;
}

.page-footer {
  box-sizing: border-box;
  width: 1160px;
  height: 70px;
  margin: 0 auto;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 10px;
  background-color: #453839;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-footer,
.footer-link {
  color: #ffffff;
  text-decoration: none;
}

.footer-link:hover {
  color: #f78f6c;
}

.footer-gh-link {
  display: block;
  position: relative;
}

.footer-gh-link svg {
  position: absolute;
}

.footer-gh-text {
  padding-left: 50px;
}

.footer-text {
  display: block;
  padding-top: 15px;
}

.modal-container {
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
  top: 120px;
  left: 27%;
  width: 900px;
  height: 550px;
  padding: 50px;
  background-color: #ffffff;
  border: 5px solid #000000;
}

.modal-wrapper {
  position: relative;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 26px;
  height: 26px;
  padding: 20px;
  background-color: #ffffff;
  background-image: url("./img/icons/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  font-size: 32px;
  margin-bottom: 30px;
}

.order-form {
  display: grid;
  grid-template-columns: 385px 205px 150px;
  gap: 40px 30px;
}

.form-label {
  font-size: 22px;
}

.field {
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
  padding: 7px;
}

.field-group-name {
  grid-column: 1 / 2;
}

.field-group-phone {
  grid-column: 2 / -1;
}

.field-group-good {
  grid-column: 1 / 2;
}

.field-group-number {
  grid-column: 2 / 3;
}

.field-group-email {
  grid-column: 1 / -1;
}

.form-submit-button {
  grid-column: 1 / 2;

  width: 250px;
  height: 50px;
    background-color: #f78f6c;
  border: 3px solid #c5765c;
  border-radius: 15px;
  text-transform: uppercase;
  color: #8a3324;
  font-size: 24px;
  cursor: pointer;
}

.modal-container-close {
  display: none;
}

